#projects-container h2 {
    text-decoration: underline;
}

.collapsible-header {
    justify-content: center;
}

.collapsible-body {
    justify-content: center;
}

.right {
    text-align: right;
}

#open-project-button {
    position: relative;
    bottom: 0px;
}


.pad-top {
    padding-top: 15px;
}

.bold {
    font-weight: bold;
}

.smaller-icon {
    font-size: 16px !important;
}

.small-pad-bot {
    padding-bottom: 10px;
}

.small-pad-top {
    padding-top: 10px;
}

.small-mar-top-and-bot {
    margin-top: 20px;
    margin-bottom: 10px;
}

.pad-bot {
    padding-bottom: 15px;
}

.small-mar-top {
    margin-top: 8px;
}

.mar-top {
    margin-top: 45px;
}

.mar-bot {
    margin-bottom: 45px;
}

.todo-container {
    top: 20px;
}

.close-btn {
    margin: 10px;
}

.pad-left {
    padding-left: 10px;
}

.pad-right {
    padding-right: 10px;
}

.mar-left {
    margin-left: 15px;
}

.mar-right {
    margin-right: 15px;
}

.no-mar-bot {
    margin-bottom: 0px;
}

.no-mar-top {
    margin-top: 0px;
}

.align-left {
    justify-self: left !important;
    align-self: left !important;
}

.no-pad {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-pad-bot {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}

#no-pad-right {
    padding-right: 0px;
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#todo-sort-bar {
    height: 47px;
}

.text-in-mid {
    justify-content: center;
}

.collection-item {
    line-height: 2.5rem !important;
}

.todo-container {
    height: 58px;
}

/* .todo-container:hover {
    background-color: #607d8b !important;
    color: black !important;
} */

/* .white-check {
    color: white !important;
    border-color: white !important;
}

.white-check:hover {
    color: black !important;
    border-color: white !important;
} */

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border-color: white !important;

}
