#projects-container h2 {
    text-decoration: underline;
}

.collapsible-header {
    justify-content: center;
}

.collapsible-body {
    justify-content: center;
}

.right {
    text-align: right;
}

#open-project-button {
    position: relative;
    bottom: 0px;
}


.pad-top {
    padding-top: 15px;
}

.bold {
    font-weight: bold;
}

.smaller-icon {
    font-size: 16px !important;
}

.small-pad-bot {
    padding-bottom: 10px;
}

.small-pad-top {
    padding-top: 10px;
}

.small-mar-top-and-bot {
    margin-top: 20px;
    margin-bottom: 10px;
}

.pad-bot {
    padding-bottom: 15px;
}

.mar-top {
    margin-top: 45px;
}

.mar-bot {
    margin-bottom: 45px;
}

.todo-container {
    top: 20px;
}

.close-btn {
    margin: 10px;
}

.pad-left {
    padding-left: 10px;
}

.pad-right {
    padding-right: 10px;
}

.mar-left {
    margin-left: 15px;
}

.mar-right {
    margin-right: 15px;
}

.no-mar-bot {
    margin-bottom: 0px;
}

.no-mar-top {
    margin-top: 0px;
}

.align-left {
    justify-self: left !important;
    align-self: left !important;
    /* left: 10px; */
}

.no-pad {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-pad-bot {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#no-pad-right {
    padding-right: 0px;
}